body {
    background-color: #0e0e0e; 
    color: white
}

.tab1 {
    padding-right: 10; 
    padding-left: 10; 
    cursor: pointer; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20; 
    font-stretch: wider;}

.tabs {
    color: #9ba3b4; 
    padding-left: 10; 
    padding-right: 10; 
    cursor: pointer; 
    font-family: Arial, Helvetica, sans-serif;
}

.search-box {
    padding-left: 200; 
    padding-top: 5;
}

.search-box input {
    cursor: pointer; 
    background-color: #0e0e0e; 
    color: #9ba3b4;
    border-width: 1px;
}

.search-box button {
    background-color: #0078d4; 
    color: #ffffff; 
    cursor: pointer; 
    width: 100px; 
    height: 30px;
    border: 5px;
}